USE [master]
GO
/****** Object:  Database [QuanLyPhongMach]    Script Date: 6/26/2021 9:31:16 PM ******/
CREATE DATABASE [QuanLyPhongMach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPhongMach', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyPhongMach.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyPhongMach_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyPhongMach_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongMach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongMach]
GO
/****** Object:  Table [dbo].[BenhNhan]    Script Date: 6/26/2021 9:31:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenhNhan](
	[MaSoBN] [int] NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[GioiTinh] [nvarchar](3) NOT NULL,
	[NamSinh] [int] NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[Xoa] [bit] NULL,
 CONSTRAINT [PK_BenhNhan] PRIMARY KEY CLUSTERED 
(
	[MaSoBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CachDung]    Script Date: 6/26/2021 9:31:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CachDung](
	[MaCachDung] [int] NOT NULL,
	[CachSuDung] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CachDung] PRIMARY KEY CLUSTERED 
(
	[MaCachDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonThuoc]    Script Date: 6/26/2021 9:31:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonThuoc](
	[MaDT] [int] NOT NULL,
	[MaThuoc] [int] NOT NULL,
	[MaDonVi] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MaCachDung] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonThuoc]    Script Date: 6/26/2021 9:31:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonThuoc](
	[MaDT] [int] NOT NULL,
	[MaPK] [int] NOT NULL,
 CONSTRAINT [PK_DonThuoc] PRIMARY KEY CLUSTERED 
(
	[MaDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonVi]    Script Date: 6/26/2021 9:31:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonVi](
	[MaDonVi] [int] NOT NULL,
	[TenDonVi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_DonVi] PRIMARY KEY CLUSTERED 
(
	[MaDonVi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiBenh]    Script Date: 6/26/2021 9:31:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiBenh](
	[MaBenh] [int] NOT NULL,
	[TenBenh] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiBenh] PRIMARY KEY CLUSTERED 
(
	[MaBenh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiThuoc]    Script Date: 6/26/2021 9:31:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiThuoc](
	[MaThuoc] [int] NOT NULL,
	[TenThuoc] [nvarchar](max) NOT NULL,
	[MaDonVi] [int] NOT NULL,
	[Gia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[SoLanSuDung] [int] NOT NULL,
 CONSTRAINT [PK_LoaiThuoc] PRIMARY KEY CLUSTERED 
(
	[MaThuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/26/2021 9:31:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaSoNV] [int] NOT NULL,
	[HoTen] [nvarchar](max) NOT NULL,
	[SDT] [nvarchar](20) NULL,
	[NamSinh] [datetime] NOT NULL,
	[Account] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaSoNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKham]    Script Date: 6/26/2021 9:31:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKham](
	[MaPK] [int] NOT NULL,
	[MaBN] [int] NOT NULL,
	[TrieuChung] [nvarchar](max) NOT NULL,
	[MaLoaiBenh] [int] NOT NULL,
	[TienKham] [int] NOT NULL,
	[TienThuoc] [int] NOT NULL,
	[NgayKham] [datetime] NOT NULL,
	[Xoa] [bit] NOT NULL,
 CONSTRAINT [PK_PhieuKham] PRIMARY KEY CLUSTERED 
(
	[MaPK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDinh]    Script Date: 6/26/2021 9:31:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDinh](
	[MaQD] [int] NOT NULL,
	[TenQuyDinh] [nvarchar](max) NOT NULL,
	[SoLuongQD] [int] NOT NULL,
 CONSTRAINT [PK_QuyDinh] PRIMARY KEY CLUSTERED 
(
	[MaQD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[BenhNhan] ([MaSoBN], [HoTen], [GioiTinh], [NamSinh], [DiaChi], [Xoa]) VALUES (1, N'Bành Thị Nở', N'Nữ', 1975, N'Làng Vũ Đại', 0)
INSERT [dbo].[BenhNhan] ([MaSoBN], [HoTen], [GioiTinh], [NamSinh], [DiaChi], [Xoa]) VALUES (2, N'Chí Phèo', N'Nam', 1973, N'Làng Vũ Đại', 0)
INSERT [dbo].[BenhNhan] ([MaSoBN], [HoTen], [GioiTinh], [NamSinh], [DiaChi], [Xoa]) VALUES (3, N'Vladimir Vladimirovich Putin', N'Nam', 1952, N'Nga', 0)
GO
INSERT [dbo].[CachDung] ([MaCachDung], [CachSuDung]) VALUES (1, N'Uống trực tiếp')
INSERT [dbo].[CachDung] ([MaCachDung], [CachSuDung]) VALUES (2, N'Nhét hậu môn')
INSERT [dbo].[CachDung] ([MaCachDung], [CachSuDung]) VALUES (3, N'Truyền dịch')
GO
INSERT [dbo].[ChiTietDonThuoc] ([MaDT], [MaThuoc], [MaDonVi], [SoLuong], [MaCachDung]) VALUES (1, 10, 2, 1, 1)
INSERT [dbo].[ChiTietDonThuoc] ([MaDT], [MaThuoc], [MaDonVi], [SoLuong], [MaCachDung]) VALUES (2, 13, 1, 10, 1)
INSERT [dbo].[ChiTietDonThuoc] ([MaDT], [MaThuoc], [MaDonVi], [SoLuong], [MaCachDung]) VALUES (3, 15, 1, 1, 2)
GO
INSERT [dbo].[DonThuoc] ([MaDT], [MaPK]) VALUES (1, 1)
INSERT [dbo].[DonThuoc] ([MaDT], [MaPK]) VALUES (2, 2)
INSERT [dbo].[DonThuoc] ([MaDT], [MaPK]) VALUES (3, 3)
GO
INSERT [dbo].[DonVi] ([MaDonVi], [TenDonVi]) VALUES (1, N'viên')
INSERT [dbo].[DonVi] ([MaDonVi], [TenDonVi]) VALUES (2, N'chai')
GO
INSERT [dbo].[LoaiBenh] ([MaBenh], [TenBenh]) VALUES (1, N'Sốt')
INSERT [dbo].[LoaiBenh] ([MaBenh], [TenBenh]) VALUES (2, N'Cảm cúm')
INSERT [dbo].[LoaiBenh] ([MaBenh], [TenBenh]) VALUES (3, N'Tiêu chảy')
GO
INSERT [dbo].[LoaiThuoc] ([MaThuoc], [TenThuoc], [MaDonVi], [Gia], [SoLuong], [SoLanSuDung]) VALUES (1, N'Paracetamol', 1, 5000, 50, 5)
INSERT [dbo].[LoaiThuoc] ([MaThuoc], [TenThuoc], [MaDonVi], [Gia], [SoLuong], [SoLanSuDung]) VALUES (2, N'Aspirin', 1, 4000, 60, 7)
INSERT [dbo].[LoaiThuoc] ([MaThuoc], [TenThuoc], [MaDonVi], [Gia], [SoLuong], [SoLanSuDung]) VALUES (3, N'Ibuprofen', 1, 6000, 100, 10)
GO
INSERT [dbo].[NhanVien] ([MaSoNV], [HoTen], [SDT], [NamSinh], [Account], [Password]) VALUES (1, N'Nguyễn Đình Khôi', N'123123123', CAST(N'2000-06-27T00:00:00.000' AS DateTime), N'khoi', N'1234')
INSERT [dbo].[NhanVien] ([MaSoNV], [HoTen], [SDT], [NamSinh], [Account], [Password]) VALUES (2, N'Nguyễn Thanh Duy', N'234234234', CAST(N'2000-01-01T00:00:00.000' AS DateTime), N'duy', N'6789')
INSERT [dbo].[NhanVien] ([MaSoNV], [HoTen], [SDT], [NamSinh], [Account], [Password]) VALUES (3, N'Phạm Tấn', N'123345763', CAST(N'2000-12-31T00:00:00.000' AS DateTime), N'tan', N'0000')
GO
INSERT [dbo].[PhieuKham] ([MaPK], [MaBN], [TrieuChung], [MaLoaiBenh], [TienKham], [TienThuoc], [NgayKham], [Xoa]) VALUES (1, 1, N'Đau bụng', 3, 30000, 43000, CAST(N'2021-05-04T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[PhieuKham] ([MaPK], [MaBN], [TrieuChung], [MaLoaiBenh], [TienKham], [TienThuoc], [NgayKham], [Xoa]) VALUES (2, 2, N'Đau bụng, ko đi ngoài được', 4, 30000, 47000, CAST(N'2021-05-04T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[PhieuKham] ([MaPK], [MaBN], [TrieuChung], [MaLoaiBenh], [TienKham], [TienThuoc], [NgayKham], [Xoa]) VALUES (3, 3, N'Sốt ho, sổ mũi', 1, 30000, 15000, CAST(N'2021-05-10T00:00:00.000' AS DateTime), 0)
GO
INSERT [dbo].[QuyDinh] ([MaQD], [TenQuyDinh], [SoLuongQD]) VALUES (1, N'SoLuongBNTTrongNgay', 40)
INSERT [dbo].[QuyDinh] ([MaQD], [TenQuyDinh], [SoLuongQD]) VALUES (2, N'SoTienKham', 30000)
GO
ALTER TABLE [dbo].[ChiTietDonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonThuoc_CachDung] FOREIGN KEY([MaCachDung])
REFERENCES [dbo].[CachDung] ([MaCachDung])
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] CHECK CONSTRAINT [FK_ChiTietDonThuoc_CachDung]
GO
ALTER TABLE [dbo].[ChiTietDonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonThuoc_DonThuoc] FOREIGN KEY([MaDT])
REFERENCES [dbo].[DonThuoc] ([MaDT])
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] CHECK CONSTRAINT [FK_ChiTietDonThuoc_DonThuoc]
GO
ALTER TABLE [dbo].[ChiTietDonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonThuoc_DonVi] FOREIGN KEY([MaDonVi])
REFERENCES [dbo].[DonVi] ([MaDonVi])
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] CHECK CONSTRAINT [FK_ChiTietDonThuoc_DonVi]
GO
ALTER TABLE [dbo].[ChiTietDonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonThuoc_LoaiThuoc] FOREIGN KEY([MaThuoc])
REFERENCES [dbo].[LoaiThuoc] ([MaThuoc])
GO
ALTER TABLE [dbo].[ChiTietDonThuoc] CHECK CONSTRAINT [FK_ChiTietDonThuoc_LoaiThuoc]
GO
ALTER TABLE [dbo].[DonThuoc]  WITH CHECK ADD  CONSTRAINT [FK_DonThuoc_PhieuKham] FOREIGN KEY([MaPK])
REFERENCES [dbo].[PhieuKham] ([MaPK])
GO
ALTER TABLE [dbo].[DonThuoc] CHECK CONSTRAINT [FK_DonThuoc_PhieuKham]
GO
ALTER TABLE [dbo].[PhieuKham]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_BenhNhan] FOREIGN KEY([MaBN])
REFERENCES [dbo].[BenhNhan] ([MaSoBN])
GO
ALTER TABLE [dbo].[PhieuKham] CHECK CONSTRAINT [FK_PhieuKham_BenhNhan]
GO
ALTER TABLE [dbo].[PhieuKham]  WITH CHECK ADD  CONSTRAINT [FK_PhieuKham_LoaiBenh] FOREIGN KEY([MaLoaiBenh])
REFERENCES [dbo].[LoaiBenh] ([MaBenh])
GO
ALTER TABLE [dbo].[PhieuKham] CHECK CONSTRAINT [FK_PhieuKham_LoaiBenh]
GO
USE [master]
GO
